body {
    background-color: #777;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    color: #777;
}

header, nav, footer {
    background-color: #ebebeb;
    height: 90px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

section {
    margin-top: 20px;
    float: left;
    width: 59%;
    height: 300px;
    background-color: #ebebeb;
}

article {
    color: white;
    background-color: #777;
    height: 70%;
    margin-left: 3%;
    margin-right: 3%;
}

.headers {
    height: 33%;
    background-color: #ebebeb;
    color: #777;
    margin-left: 3%;
    margin-right: 3%;
}

.articleText {
    height: 33%;
    background-color: #ebebeb;
    color: #777;
    margin-left: 3%;
    margin-right: 3%;
}

aside {
    margin-top: 20px;
    float: right;
    width: 39%;
    height: 300px;
    background-color: #ebebeb;
}

footer {
    margin-top: 340px;
}